@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif Display', serif;
}
.body
{
}
.container
{
   
}
.header
{
display: flex;
justify-content: space-between;
align-items: center;
padding: 21px 30px;
position: absolute;
top: 0;
left: 0;
right: 0;
z-index: 9999;
}
.header a
{
    text-decoration: none;
    color: black;
}
.header .header-menu
{
    font-size: 20px;
}
.header .header-logo
{
text-align: center;
object-fit: cover;
}
.header .header-logo img
{
  width: 30%;
}
.header .header-function
{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 gap: 24px;
 font-size: 20px;
}
@media screen and (max-width: 768px) {
  .header .header-function
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  font-size: 20px;
}
.header .header-function .hidden-icon
{
display: none;
}
}
.content
{
  background-color: #fdfdf5;
}
.content .slideshow 
{
  width: 100%;
  overflow: hidden;
  border-radius: 0 0 40% 40%;
  
}
.content .slideshow img
{
  width: 100%;
 object-fit: cover;
}


.introduce-section 
{
  background: white url('/asset/img/group_1_afb5e747171a450884ee1f169cda5ead.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  
}


.introduce-banner .box-left .subtitle
{
  font-family: 'Roboto', sans-serif;
}
.introduce-banner .box-left .btn-boxL
{
  padding: 10px 35px;
  background-color: #698269;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  letter-spacing: 2px;
  font-size: 18px;
}
.introduce-banner .box-center 
{
  display: flex;
  justify-content: center;
  align-items: center ;
  margin-bottom: 20px;
}
.introduce-banner .box-center .img-center
{
  overflow: hidden;
  border-radius: 45% 45% 0 0;
}
.box-center .img-center img
{
  width: 100%;
  object-fit: cover;
}

.introduce-banner .box-right
{
  padding-top: 50px;
}

@media screen and (max-width: 992px){

  .introduce-section
{
  width: 100%;
 
  
}

  .hidden2
  {
    display: none !important;
  }
  .title
  {
    font-size: 40px;
    line-height: 50px;
    width: 100%;
  }
  .row
  {
    flex-direction: column-reverse;
  }
  .box-left
  {
    text-align: center;
    transform: none;
  }
  .introduce-banner .box-left .title
{
  font-size: 54px;
  line-height: 70px;
  font-weight: 500;
  margin-bottom: 40px;
   width: 100%;
}
.introduce-banner .subtitle
{
  
  line-height: 24px;
  font-weight: 400px;
  margin-bottom: 30px;
  text-align: center;
}
}



@media screen and (min-width: 993px){

  .introduce-section
{
  width: 100%;
  padding: 64px 40px;
  margin-top: 80px;

}

  .hidden
  {
    display: none !important;
  }
  .introduce-banner .box-left 
{
  transform: translate(120px,50px);
}
.introduce-banner .box-left .title
{
  font-size: 54px;
  line-height: 78px;
  font-weight: 500;
  margin-bottom: 44px;
   width: 350px;
}
.introduce-banner .subtitle
{
  max-width: 350px;
  line-height: 24px;
  font-weight: 400px; 
   font-family: 'Roboto', sans-serif;
}
}



/* banner-section */
.banner-section
{
  width: 100%;
  padding: 64px 40px;
  margin-top: 80px;
  background-color: #fdfdf5;
}
.banner-section .banner-collection
{
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 50px;
}

.left-banner
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-banner-img
{
  overflow: hidden;
  border-radius: 45% 45% 0 0;
  width: fit-content;
 
}
.left-banner-img img
{
  max-width: 100%;
  object-fit: cover;
}
.right-banner
{
  padding-top: 30px;
}
.right-banner .banner-heading .banner-sub-title
{
  font-size: 16px;
  line-height: 24px;
  color: #698269;
  text-transform: uppercase;

}

.right-banner .banner-heading .banner-title
{
   font-size: 56px;
   line-height: 70px;
   margin: 48px 0 60px ;
}
.product-list
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding-top: 50px;
}

.product-list .product-item:nth-child(2)
{
  margin-top: 50px;
}
.product-list .product-item:nth-child(3)
{
  margin-top: -50px;
}
.product-item
{
  display: flex;
  flex-direction: column;
  
  
}
.products-img 
{
  overflow: hidden;
  border-radius: 500px 500px 0 0;
  width: 100%;
  height:50%;
  
}

.products-img .product-img img
{
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  transition: all 0.4s ease-in;
}

.products-img .product-img .top-img
{
  position: relative;
  top: -100%;
}

.product-img:hover .top-img
{
 opacity: 0;
 filter: blur(4px) brightness(150%);
  
}

.product-inf
{

}

.product-inf .product-price
{
  font-size: 20px;
  padding: 16px 0;
  color: #698269;
}
.product-inf .product-brand
{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color:black ;
  padding-bottom: 10px;
}
.product-inf .product-sub-title
{
  display: block;
  text-decoration: none;
  font-size: 16px;
  color:black ;
}

@media screen and (max-width: 999px){
  .banner-section .banner-collection
  {
   display: grid;
   grid-template-columns: 1fr;
   gap: 30px;
  }
}
@media screen and (max-width: 768px){
  .product-list
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
}

.product-price .hightlight-price
{
  line-height: 32px;
}
.product-price .price-compare
{
  line-height: 24px;
  font-size: 14px;
  opacity: 0.7;
  text-decoration: line-through;
  color: #999999;
}
.product-inf .product-sale
{
  margin: 20px 0;
  background-color: #698269;
  display: inline-block;
  color: white;
  padding: 0 5px;
  font-size: 12px;
  letter-spacing: 1.5px;
  font-weight: 700;
}

/* star product-list collection */

.collection-product
{
  padding: 220px 40px 64px;
}
.products-list
{ 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 30px;
}
 .product-item
{
  margin-bottom: -80%;
}
@media screen and (max-width: 768px){
  .products-list
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.product-item
{
  margin-bottom: -40%;
}
}
.products-list .product-item:nth-child(3n+2)
{
   /* transform: translateY(-80px); */
   margin-top: -80px;
}
.new-collection
{
  padding: 64px 40px;
  background-image: url('/asset/img/bg-collection-list.webp');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 385px;
  
}
.new-collection .newC-header .sub-title
{
   font-size: 16px;
   margin-bottom: 20px 0;
   
}
.new-collection .newC-header .title
{
  font-size: 56px;
  line-height: 78px;
  margin-top: 0px;
  text-transform: none;
  margin-bottom: 64px;
}


.new-collection-list{

display: flex;
align-items: center;
justify-content: center;

}
.wrapper{
  display: flex;
  max-width: 100%;
  position: relative;
}
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 1;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  display: flex;
  height: 100%;
  width: 100%;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}

.carousel .img-warapper {
  user-select: none;
  margin-left: 28px;
  flex: 0 0 calc(100%/3.5); /* Đặt chiều rộng mong muốn */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 550px;
}
.carousel img{

  object-fit: cover;
  user-select: none;
  width: 100%;
  height: 100%;
}
.carousel img:first-child{
  margin-left: 0px;
}
@media screen and (max-width: 900px) {
  .carousel .img-warapper {
    user-select: none;
    margin-left: 14px;
    flex: 0 0 calc(100%/2); /* Đặt chiều rộng mong muốn */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 550px) {
  .carousel .img-warapper {
    user-select: none;
    margin-left: 14px;
    flex: 0 0 calc(100%/1); /* Đặt chiều rộng mong muốn */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.before-after
{
  padding: 64px 40px;
  margin-top: 64px;
}
.comparison-slider-wrapper {
	position: relative;
	width: 100%;
	background-color: white;
}
	.comparison-slider {
		position: relative;
		width: 100%;
		margin: 0;
		border: 5px white solid;
		box-sizing: border-box;
		> img {
			width: 100%;
			height: 100%;
			display: block;
		}

		.overlay {
			display: none;
			position: absolute;
			width: 250px;
			bottom: 20px;
			right: 20px;
			background-color: rgba(0, 0, 0, 0.4);
			padding: 10px;
			box-sizing: border-box;
			color: #ddd;
			text-align: right;
			@include media("tabletUpwards") {
				display: block;
			}
		}

		.resize {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 50%;
			overflow: hidden;
			> img {
				display: block;
			}
			.overlay {
				right: auto;
				left: 20px;
				text-align: left;
			}
		}

		.divider {
			position: absolute;
			width: 2px;
			height: 100%;
			background-color: rgba(256, 256, 256, 0.2);
			left: 50%;
			top: 0;
			bottom: 0;
			margin-left: -1px;
			cursor: ew-resize;
			&:before {
				content: "";
				position: absolute;
				width: 20px;
				height: 20px;
				left: -9px;
				top: 50%;
				margin-top: -10px;
				background-color: white;
				transform: rotate(45deg);
				transition: all 0.1s ease-in-out;
			}
			&:after {
				content: "";
				position: absolute;
				width: 12px;
				height: 12px;
				left: -5px;
				top: 50%;
				margin-top: -6px;
				background-color: white;
				transform: rotate(45deg);
				transition: all 0.1s ease-in-out;
			}
			&.draggable {
				&:before {
					width: 30px;
					height: 30px;
					left: -14px;
					margin-top: -15px;
				}
				&:after {
					width: 20px;
					height: 20px;
					left: -9px;
					margin-top: -10px;
					background-color: #555;
				}
			}
		}
	}
 .overlay img {
		width: 100%;
		height: 100%;
	}



  .brand-section
  {
  padding: 64px 40px;
  margin-top: 64px;
  text-align: center;
  }
  .brand-heading .brand-subtitle
{
   font-size: 16px;
   margin-bottom: 20px 0;
   
}
.brand-heading .brand-title
{
  font-size: 56px;
  line-height: 78px;
  margin-top: 0px;
  text-transform: none;
  margin-bottom: 64px;
}
/* .brand-slider
{
  display: flex;
  height: auto;
  margin: auto;
  overflow: hidden;
  align-items: center;
}

.brand-slider::before
{
  position: absolute;
  z-index: 1;
  left: 0;
  content: "";
  width: 24%;
  height: 110px;
  background-color: linear-gradient(-90deg, hsla(0,0%,96.9%,0),#f7f7f7);
}
.brand-slider::after
{
  position: absolute;;
  right: 0;
  content: "";
  width: 24%;
  height: 110px;
  background-color: linear-gradient(-90deg,
   hsla(0,0%,96.9%,0),
   hsla(0,0%,96.9%,0.99) 99%
  );
}
.brand-slider .slide-track {
  display: flex;
  animation: scroll 35s linear infinite;
  width: calc(240px*10);
}
.brand-slider .slide
{
  display: flex;
  width: 150px;
  overflow: hidden;
  margin-left: 30px;
}
.brand-slider .slide img
{
  width: 100%;
  object-fit: cover;
  height: auto;
  cursor: pointer;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
@keyframes scroll 
{
  0%
  {
    transform: translateX(0);
  }
  100%
  {
    transform: translateX(calc(-240px*5));
  }
} */
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 6));
            transform: translateX(calc(-250px * 6));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 6));
            transform: translateX(calc(-250px * 6));
  }
}
.brand-slider {

  /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);*/
  height: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.brand-slider::before, .brand-slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.brand-slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.brand-slider::before {
  left: 0;
  top: 0;
}
.brand-slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 12);
}
.brand-slider .slide {
  height: max-content;
  width: 250px;
}

.slide img{
  
}
@media screen and (max-width:679px)
{
  .right-banner .banner-heading .banner-title {
    font-size: 40px;
    line-height: 70px;
    margin: 48px 0 60px;
  }
  .new-collection .newC-header .title {
    font-size: 40px;
    line-height: 78px;
    margin-top: 0px;
    text-transform: none;
    margin-bottom: 64px;
}
.brand-heading .brand-title {
  font-size: 40px;
  line-height: 78px;
  margin-top: 0px;
  text-transform: none;
  margin-bottom: 64px;
}
.introduce-banner .box-left .title {
  font-size: 40px;
  line-height: 70px;
  font-weight: 500;
  margin-bottom: 40px;
  width: 100%;
}
}

/* star footer */
.footer
{
 
 
  margin-top: 64px;
}
.footer-container
{
  background-color: #F1DBBF;
  padding: 64px 40px 20px;
}
.footer-container .footer-logo
{
  width: 150px;
  margin: 0 auto;
  padding-bottom: 64px ;
}
.footer-container .footer-logo img
{
  max-width: 100%;
}
.footer-content
{
  display: grid;
  grid-auto-flow: column;
 
  gap: 50px;
}
.footer-content .footer-inf p
{
  font-family: 'Roboto', sans-serif;
  opacity: 0.8;
  margin-bottom: 24px;
}
.footer-content .footer-link .footer-title
{
  font-size: 24px;
  margin-bottom: 20px;
}
.footer-content .footer-link .linklist
{
  list-style-type: none;
  padding: 0;
}
.footer-link .linklist li
{
  margin-bottom: 24px;
}
 .footer-link .linklist a
{
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  opacity: 0.8;
}

.social-media
{
  border-top: 1px solid #000;
}
.follow-us
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.follow-us p
{
  margin-top: 12px;
  margin-left: -24px;
  font-weight: bold;
  letter-spacing: 2px;
}
.follow-us a
{
 margin-right: 20px;
 font-size: 24px;
 color: #000;
}
.follow-us a:hover,
 .linklist li:hover a
{
  opacity: 0.6;
}
